* @Whippingdot

C++/ @Whippingdot

Cookeylang/ @cursorweb

DSMD/ @darkdarcool

HTML/ @Whippingdot @MrIntellectual

Markdown/ @Whippingdot

Python/ @Whippingdot @darkdarcool @Rayyan06 @kokonut27

Ruby/ @darkdarcool
